:root{
    font-size: 16px;
    --bg-color: #222222;
    --bg-color-secondary: #dedede;
    --color: #555555;
    --color-secondary: #eeeeee;
}

@font-face{
    font-family: "Montserrat Bold";
    src: url('../fonts/Montserrat/Montserrat-ExtraBold.ttf');
}

@font-face{
    font-family: "Montserrat";
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}

body,html{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.watermark{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    font-family: "Montserrat Bold";
}
.watermark::before{
    content: "ALEIX";
    top: 10%;
    left: 5%;
}
.watermark::after{
    content: "SANFE";
    right: 5%;
    bottom: 10%;
}
.watermark::before,.watermark::after{
    color: var(--color);
    font-weight: bold;
    font-size: 20rem;
    opacity: 0.05;
    position: absolute;
}

.container{
    width: 100vw;
    height: 100vh;
    position: relative;
    font-family: "Montserrat";
}

.bg-dark{
    background-color: var(--bg-color);
}

.bg-light{
    background-color: var(--bg-color-secondary);
}

nav{
    padding: 0px 3rem;
    float: right;
    height: 10vh;
    display: flex;
    line-height: 10vh;
    font-size: 2.5rem;
    color: var(--color-secondary);
}
nav > li{
    list-style: none;
    margin: 0px 2rem;
    transition: transform 300ms;
}
nav > li:hover{
    transform: scale(1.3);
}